---
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
---
<Layout title="Aviso Legal | tictacdicta">
  <Container>
    <div class="prose mx-auto my-24 max-w-4xl">
      <h1>AVISO LEGAL</h1>

      <h2>1. DATOS IDENTIFICATIVOS</h2>
      <p>
        En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), a continuación se reflejan los siguientes datos:
      </p>
      <ul>
        <li><strong>Titular del sitio web:</strong> Sergio Real </li>
        <li><strong>NIF/CIF:</strong> 4.8.9.7.2.8.5.0.P</li>
        <li><strong>Domicilio social:</strong> Chiclana de la Frontera, Cádiz </li>
        <li><strong>Correo electrónico de contacto:</strong> contacto@tictacdicta.es</li>
        <li><strong>Nombre del dominio:</strong> www.tictacdicta.es (en adelante, "el sitio web")</li>
      </ul>

      <h2>2. USUARIOS</h2>
      <p>
        El acceso y/o uso de este portal atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas.
      </p>

      <h2>3. USO DEL PORTAL</h2>
      <p>
        El sitio web proporciona el acceso a multitud de informaciones, servicios, programas o datos (en adelante, "los contenidos") en Internet pertenecientes al titular del sitio web a los que el USUARIO pueda tener acceso. El USUARIO asume la responsabilidad del uso del portal.
      </p>

      <h2>4. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <p>
        El titular del sitio web es propietario de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, etc.).
      </p>
      <p>
        Todos los derechos reservados. En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización del titular del sitio web.
      </p>

      <h2>5. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h2>
      <p>
        El titular del sitio web no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
      </p>

      <h2>6. MODIFICACIONES</h2>
      <p>
        El titular del sitio web se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su portal, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su portal.
      </p>

      <h2>7. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
      <p>
        La relación entre el titular del sitio web y el USUARIO se regirá por la normativa española vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Cádiz, salvo que la Ley aplicable disponga otra cosa.
      </p>
    </div>
  </Container>
</Layout>