---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon/components";

const menuitems = [
  {
    title: "Funcionalidades",
    path: "/#funcionalidades",
  },
  {
    title: "Módulos",
    path: "/#modulos",
  },
  {
    title: "Precios",
    path: "/#precios",
  },
  {
    title: "Contacto",
    path: "/#contacto",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center gap-2">
          <img src="/logo.svg" alt="Logo de tictacdicta" class="h-20 w-auto" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 transition-colors">
                  <span>{item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <a 
            href="https://wa.me/34613139737?text=Hola%21%20Quiero%20probar%20tictacdicta%20GRATIS" 
            class="wa-contact flex items-center justify-center gap-2 w-full px-4 py-2 text-sm font-bold rounded-lg bg-gradient-to-r from-lime-500 to-green-500 text-slate-900">
            <Icon name="ic:baseline-whatsapp" class="w-4 h-4" />
            Prueba Gratis
          </a>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a 
          href="https://wa.me/34613139737?text=Hola%21%20Quiero%20probar%20tictacdicta%20GRATIS" 
          class="wa-contact flex items-center gap-2 px-5 py-2.5 text-sm font-bold rounded-lg bg-gradient-to-r from-lime-500 to-green-500 hover:from-lime-400 hover:to-green-400 text-slate-900 transition-all hover:scale-105 shadow-md hover:shadow-lg">
          <Icon name="ic:baseline-whatsapp" class="w-5 h-5" />
          Prueba Gratis
        </a>
      </div>
    </div>
  </header>
</Container>
